In [1]:
## 01.
# 고객 3,500명에 대한 학습용 데이터를 이용하여 성별 예측 모형을 만든 후, 이를 평가용 데이터에 적용하여 얻은 2,482명 고객의 성별 예측값을 csv파일로 생성하시오.
# <유의사항>
# 성능이 우수한 예측 모형을 구축하려면 적절한 데이터 전처리, Feature Engineering, 분류 알고리즘 사용, 하이퍼 매개변수 최적화, 모형 앙상블 등이 수반되어야 한다.

In [5]:
import pandas as pd
x_train = pd.read_csv('/Users/dabeen/Desktop/DA_01/bigData-main/x_train.csv', encoding='cp949')
x_test = pd.read_csv('/Users/dabeen/Desktop/DA_01/bigData-main/x_test.csv', encoding='cp949')
y_train = pd.read_csv('/Users/dabeen/Desktop/DA_01/bigData-main/y_train.csv', encoding='cp949')
x_train

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17
1,1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1
2,2,3197000,1639000,NaN,남성 캐주얼,관악점,2,2.000000,0.000000,1
3,3,16077620,4935000,NaN,기타,광주점,18,2.444444,0.318182,16
4,4,29050000,24000000,NaN,보석,본 점,2,1.500000,0.000000,85
...,...,...,...,...,...,...,...,...,...,...
3495,3495,3175200,3042900,NaN,골프,본 점,1,2.000000,1.000000,0
3496,3496,29628600,7200000,6049600.0,시티웨어,부산본점,8,1.625000,0.461538,40
3497,3497,75000,75000,NaN,주방용품,창원점,1,1.000000,0.000000,0
3498,3498,1875000,1000000,NaN,화장품,본 점,2,1.000000,0.000000,39
3499,3499,263101550,34632000,5973000.0,기타,본 점,38,2.421053,0.467391,8

In [6]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)

(3500, 10)
(2482, 10)
(3500, 2)

In [9]:
print(x_train.info())
print(x_test.info())
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2482 entries, 0 to 2481
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  2482 non-null   int64
 1   총구매액     2482 non-null   int64
 2   최대구매액    2482 non-null   int64
 3   환불금액     871 non-null    float64
 4   주구매상품    2482 non-null   object
 5   주구매지점    2482 non-null   object
 6   내점일수     2482 non-null   int64
 7   내점당구매건수  2482 non-null   float64
 8   주말방문비율   2482 non-null   float64
 9   구매주기     2482 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 194.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   gender   3500 non-null   int64
dtypes: int64(2)
memory usage: 54.8 KB
None

In [10]:
print(x_train.describe().T)
print(x_test.describe().T)
print(y_train.describe().T)

          count          mean           std         min           25%  \
cust_id  3500.0  1.749500e+03  1.010507e+03         0.0  8.747500e+02
총구매액     3500.0  9.191925e+07  1.635065e+08 -52421520.0  4.747050e+06
최대구매액    3500.0  1.966424e+07  3.199235e+07  -2992000.0  2.875000e+06
환불금액     1205.0  2.407822e+07  4.746453e+07      5600.0  2.259000e+06
내점일수     3500.0  1.925371e+01  2.717494e+01         1.0  2.000000e+00
내점당구매건수  3500.0  2.834963e+00  1.912368e+00         1.0  1.666667e+00
주말방문비율   3500.0  3.072463e-01  2.897516e-01         0.0  2.729090e-02
구매주기     3500.0  2.095829e+01  2.474868e+01         0.0  4.000000e+00

                  50%           75%           max
cust_id  1.749500e+03  2.624250e+03  3.499000e+03
총구매액     2.822270e+07  1.065079e+08  2.323180e+09
최대구매액    9.837000e+06  2.296250e+07  7.066290e+08
환불금액     7.392000e+06  2.412000e+07  5.637530e+08
내점일수     8.000000e+00  2.500000e+01  2.850000e+02
내점당구매건수  2.333333e+00  3.375000e+00  2.208333e+01
주말방문비율   2.564103e-01  4.489796e-01  1.000000e+00
구매주기     1.300000e+01  2.800000e+01  1.660000e+02
          count          mean           std         min           25%  \
cust_id  2482.0  4.740500e+03  7.166360e+02      3500.0  4.120250e+03
총구매액     2482.0  1.010275e+08  1.732132e+08 -37440000.0  5.076868e+06
최대구매액    2482.0  2.177048e+07  3.504919e+07 -37440000.0  2.884350e+06
환불금액      871.0  2.554716e+07  5.944074e+07     10000.0  2.414000e+06
내점일수     2482.0  1.951692e+01  2.597397e+01         1.0  2.000000e+00
내점당구매건수  2482.0  2.819388e+00  1.754550e+00         1.0  1.750000e+00
주말방문비율   2482.0  2.938119e-01  2.825997e-01         0.0  2.345571e-02
구매주기     2482.0  2.028606e+01  2.410876e+01         0.0  4.000000e+00

                  50%           75%           max
cust_id  4.740500e+03  5.360750e+03  5.981000e+03
총구매액     3.051686e+07  1.264255e+08  2.861238e+09
최대구매액    1.075250e+07  2.627700e+07  5.932250e+08
환불금액     8.100000e+06  2.228090e+07  8.715144e+08
내점일수     9.000000e+00  2.675000e+01  2.220000e+02
내점당구매건수  2.430952e+00  3.375000e+00  1.587500e+01
주말방문비율   2.500000e-01  4.235658e-01  1.000000e+00
구매주기     1.300000e+01  2.700000e+01  1.770000e+02
          count      mean          std  min     25%     50%      75%     max
cust_id  3500.0  1749.500  1010.507298  0.0  874.75  1749.5  2624.25  3499.0
gender   3500.0     0.376     0.484449  0.0    0.00     0.0     1.00     1.0

In [11]:
x_test_cust_id = x_test['cust_id']
x_train = x_train.drop(columns=['cust_id'])
x_test = x_test.drop(columns=['cust_id'])
y_train = y_train.drop(columns=['cust_id'])

x_train.head()

       총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수    주말방문비율  구매주기
0  68282840  11264000  6860000.0      기타   강남점    19  3.894737  0.527027    17
1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000  0.000000     1
2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000  0.000000     1
3  16077620   4935000        NaN      기타   광주점    18  2.444444  0.318182    16
4  29050000  24000000        NaN      보석  본  점     2  1.500000  0.000000    85

In [12]:
print(x_train.isnull().sum())

총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [14]:
x_train['환불금액'] = x_train['환불금액'].fillna(0)
x_test['환불금액'] = x_test['환불금액'].fillna(0)
print(x_train.info())
print(x_test.info())
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   총구매액     3500 non-null   int64
 1   최대구매액    3500 non-null   int64
 2   환불금액     3500 non-null   float64
 3   주구매상품    3500 non-null   object
 4   주구매지점    3500 non-null   object
 5   내점일수     3500 non-null   int64
 6   내점당구매건수  3500 non-null   float64
 7   주말방문비율   3500 non-null   float64
 8   구매주기     3500 non-null   int64
dtypes: float64(3), int64(4), object(2)
memory usage: 246.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2482 entries, 0 to 2481
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   총구매액     2482 non-null   int64
 1   최대구매액    2482 non-null   int64
 2   환불금액     2482 non-null   float64
 3   주구매상품    2482 non-null   object
 4   주구매지점    2482 non-null   object
 5   내점일수     2482 non-null   int64
 6   내점당구매건수  2482 non-null   float64
 7   주말방문비율   2482 non-null   float64
 8   구매주기     2482 non-null   int64
dtypes: float64(3), int64(4), object(2)
memory usage: 174.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gender  3500 non-null   int64
dtypes: int64(1)
memory usage: 27.5 KB
None

In [16]:
print(x_train['주구매상품'].unique())
print(x_train['주구매지점'].unique())

['기타' '스포츠' '남성 캐주얼' '보석' '디자이너' '시티웨어' '명품' '농산물' '화장품' '골프' '구두' '가공식품'
 '수산품' '아동' '차/커피' '캐주얼' '섬유잡화' '육류' '축산가공' '젓갈/반찬' '액세서리' '피혁잡화' '일용잡화'
 '주방가전' '주방용품' '건강식품' '가구' '주류' '모피/피혁' '남성 트랜디' '셔츠' '남성정장' '생활잡화'
 '트래디셔널' '란제리/내의' '커리어' '침구/수예' '대형가전' '통신/컴퓨터' '식기' '소형가전' '악기']
['강남점' '잠실점' '관악점' '광주점' '본  점' '일산점' '대전점' '부산본점' '분당점' '영등포점' '미아점'
 '청량리점' '안양점' '부평점' '동래점' '포항점' '노원점' '창원점' '센텀시티점' '인천점' '대구점' '전주점'
 '울산점' '상인점']

In [17]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
x_train['주구매상품'] = encoder.fit_transform(x_train['주구매상품'])
print(x_train['주구매상품'])

0        5
1       21
2        6
3        5
4       15
        ..
3495     3
3496    22
3497    32
3498    41
3499     5
Name: 주구매상품, Length: 3500, dtype: int64

In [18]:
x_test['주구매상품'] = encoder.fit_transform(x_test['주구매상품'])
x_train['주구매지점'] = encoder.fit_transform(x_train['주구매지점'])
x_test['주구매지점'] = encoder.fit_transform(x_test['주구매지점'])

In [19]:
condition = x_train['환불금액'] > 0
x_train.loc[condition, '환불금액_new'] = 1
x_train.loc[~condition, '환불금액_new'] = 0
print(x_train[['환불금액', '환불금액_new']])

           환불금액  환불금액_new
0     6860000.0       1.0
1      300000.0       1.0
2           0.0       0.0
3           0.0       0.0
4           0.0       0.0
...         ...       ...
3495        0.0       0.0
3496  6049600.0       1.0
3497        0.0       0.0
3498        0.0       0.0
3499  5973000.0       1.0

[3500 rows x 2 columns]

In [20]:
x_train = x_train.drop(columns=['환불금액'])
x_train

,총구매액,최대구매액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기,환불금액_new
0,68282840,11264000,5,0,19,3.894737,0.527027,17,1.0
1,2136000,2136000,21,19,2,1.500000,0.000000,1,1.0
2,3197000,1639000,6,1,2,2.000000,0.000000,1,0.0
3,16077620,4935000,5,2,18,2.444444,0.318182,16,0.0
4,29050000,24000000,15,8,2,1.500000,0.000000,85,0.0
...,...,...,...,...,...,...,...,...,...
3495,3175200,3042900,3,8,1,2.000000,1.000000,0,0.0
3496,29628600,7200000,22,9,8,1.625000,0.461538,40,1.0
3497,75000,75000,32,21,1,1.000000,0.000000,0,0.0
3498,1875000,1000000,41,8,2,1.000000,0.000000,39,0.0
3499,263101550,34632000,5,8,38,2.421053,0.467391,8,1.0

In [21]:
x_test.loc[~condition, '환불금액_new'] = 0
x_test.loc[condition, '환불금액_new'] = 1
x_test = x_test.drop(columns=['환불금액'])

In [22]:
print(x_train.describe().T)

           count          mean           std         min           25%  \
총구매액      3500.0  9.191925e+07  1.635065e+08 -52421520.0  4.747050e+06
최대구매액     3500.0  1.966424e+07  3.199235e+07  -2992000.0  2.875000e+06
주구매상품     3500.0  1.461200e+01  1.301995e+01         0.0  5.000000e+00
주구매지점     3500.0  1.073429e+01  5.636480e+00         0.0  8.000000e+00
내점일수      3500.0  1.925371e+01  2.717494e+01         1.0  2.000000e+00
내점당구매건수   3500.0  2.834963e+00  1.912368e+00         1.0  1.666667e+00
주말방문비율    3500.0  3.072463e-01  2.897516e-01         0.0  2.729090e-02
구매주기      3500.0  2.095829e+01  2.474868e+01         0.0  4.000000e+00
환불금액_new  3500.0  3.442857e-01  4.752027e-01         0.0  0.000000e+00

                   50%           75%           max
총구매액      2.822270e+07  1.065079e+08  2.323180e+09
최대구매액     9.837000e+06  2.296250e+07  7.066290e+08
주구매상품     9.000000e+00  2.200000e+01  4.100000e+01
주구매지점     9.000000e+00  1.500000e+01  2.300000e+01
내점일수      8.000000e+00  2.500000e+01  2.850000e+02
내점당구매건수   2.333333e+00  3.375000e+00  2.208333e+01
주말방문비율    2.564103e-01  4.489796e-01  1.000000e+00
구매주기      1.300000e+01  2.800000e+01  1.660000e+02
환불금액_new  0.000000e+00  1.000000e+00  1.000000e+00

In [23]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x_train = pd.DataFrame(scaler.fit_transform(x_train), columns=x_train.columns)
x_test = pd.DataFrame(scaler.fit_transform(x_test), columns=x_test.columns)

print(x_train.describe().T)

           count          mean       std       min       25%       50%  \
총구매액      3500.0 -4.409171e-17  1.000143 -0.882909 -0.533218 -0.389621
최대구매액     3500.0 -4.838986e-17  1.000143 -0.708278 -0.524864 -0.307219
주구매상품     3500.0 -6.236281e-17  1.000143 -1.122438 -0.738357 -0.431093
주구매지점     3500.0 -8.333017e-17  1.000143 -1.904703 -0.485175 -0.307733
내점일수      3500.0  2.518303e-16  1.000143 -0.671807 -0.635003 -0.414180
내점당구매건수   3500.0 -2.288170e-16  1.000143 -0.959661 -0.611003 -0.262346
주말방문비율    3500.0  9.192647e-17  1.000143 -1.060530 -0.966329 -0.175472
구매주기      3500.0 -1.220294e-16  1.000143 -0.846966 -0.685318 -0.321610
환불금액_new  3500.0  3.445498e-16  1.000143 -0.724606 -0.724606 -0.724606

               75%        max
총구매액      0.089237  13.648260
최대구매액     0.103110  21.475852
주구매상품     0.567518   2.027026
주구매지점     0.756913   2.176441
내점일수      0.211486   9.780490
내점당구매건수   0.282432  10.066639
주말방문비율    0.489224   2.391196
구매주기      0.284570   5.861421
환불금액_new  1.380060   1.380060

In [25]:
print(x_train[['총구매액', '최대구매액', '환불금액_new']].corr())

              총구매액     최대구매액  환불금액_new
총구매액      1.000000  0.700080  0.403357
최대구매액     0.700080  1.000000  0.330687
환불금액_new  0.403357  0.330687  1.000000

In [26]:
x_train = x_train.drop(columns=['최대구매액'])
x_test = x_test.drop(columns=['최대구매액'])

In [27]:
x_train_backup = x_train.copy()

In [29]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(max_depth=10, criterion='entropy', random_state=10)

model.fit(x_train, y_train)
y_test_predicted = model.predict(x_test)

print(pd.DataFrame(y_test_predicted).head(3))

   0
0  1
1  0
2  1

In [33]:
## GridSearchCV로 하이퍼 파라미터 튜닝하기

from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline

parameters = {'model__max_depth':[3, 4, 5, 6], 'model__criterion':['gini', 'entropy']}
pipeline_model = Pipeline([('scaler', StandardScaler()), ('model', DecisionTreeClassifier())])
grid_model = GridSearchCV(pipeline_model, param_grid=parameters, cv=3)

print(grid_model.fit(x_train, y_train))

GridSearchCV(cv=3,
             estimator=Pipeline(steps=[('scaler', StandardScaler()),
                                       ('model', DecisionTreeClassifier())]),
             param_grid={'model__criterion': ['gini', 'entropy'],
                         'model__max_depth': [3, 4, 5, 6]})

In [34]:
## GridSearchCV로 하이퍼 파라미터 튜닝하기

best_model = grid_model.best_estimator_
y_test_predicted = best_model.predict(x_test)

print(pd.DataFrame(y_test_predicted))

      0
0     0
1     0
2     0
3     0
4     0
...  ..
2477  1
2478  0
2479  0
2480  0
2481  1

[2482 rows x 1 columns]

In [35]:
y_test_proba = model.predict_proba(x_test)
print(pd.DataFrame(y_test_proba).head())

          0         1
0  0.200000  0.800000
1  1.000000  0.000000
2  0.000000  1.000000
3  0.548837  0.451163
4  1.000000  0.000000

In [37]:
result = pd.DataFrame(y_test_proba)[1]

In [43]:
from sklearn.metrics import roc_auc_score

y_train_predicted = model.predict(x_train)

print(roc_auc_score(y_train, y_train_predicted))

0.6935157041540021

In [41]:
## ㅌㅔ스트 데이터로 모델 평가하기
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size=0.2, random_state=10)
model = DecisionTreeClassifier(max_depth=10, criterion='entropy', random_state=10)
model.fit(X_TRAIN, Y_TRAIN)
Y_TEST_PREDICTED = model.predict(X_TEST)

print(roc_auc_score(Y_TEST, Y_TEST_PREDICTED))

0.5771332492643968

In [46]:
final = pd.concat([x_test_cust_id, result], axis=1).rename(columns={1:'gender'})
final.to_csv('12345.csv', index=False)

In [51]:
import pandas as pd

x_train = pd.read_csv('/Users/dabeen/Desktop/DA_01/bigData-main/x_train.csv', encoding='cp949')
x_test = pd.read_csv('/Users/dabeen/Desktop/DA_01/bigData-main/x_test.csv', encoding='cp949')
y_train = pd.read_csv('/Users/dabeen/Desktop/DA_01/bigData-main/y_train.csv', encoding='cp949')

# 관련 없는 데이터('cust_id') 따로 추출해서 백업하고, 드랍시키기
x_test_cust_id = x_test['cust_id']

x_train = x_train.drop(columns=['cust_id'])
x_test = x_test.drop(columns=['cust_id'])
y_train = y_train.drop(columns=['cust_id'])

# 결측치 처리하기
x_train['환불금액'] = x_train['환불금액'].fillna(0)
x_test['환불금액'] = x_test['환불금액'].fillna(0)

# 라벨 인코딩 수행하기
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x_train['주구매상품'] = encoder.fit_transform(x_train['주구매상품'])
x_train['주구매지점'] = encoder.fit_transform(x_train['주구매지점'])
x_test['주구매상품'] = encoder.fit_transform(x_test['주구매상품'])
x_test['주구매지점'] = encoder.fit_transform(x_test['주구매지점'])

# 파생변수 만들기, 0으로 결측치 처리 했던거 0이상이면 1로 변환
condition = x_train['환불금액'] > 0
x_train.loc[condition, '환불금액_new'] = 1
x_train.loc[~condition, '환불금액_new'] = 0
x_train = x_train.drop(columns=['환불금액'])
x_test.loc[condition, '환불금액_new'] = 1
x_test.loc[~condition, '환불금액_new'] = 0
x_test = x_test.drop(columns=['환불금액'])

# 데이터 스케일링 : 표준화 크기로 변환하기
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns = x_train.columns)
x_test = pd.DataFrame(scaler.fit_transform(x_test), columns = x_test.columns)

# 불필요한 칼럼 삭제하기
x_train = x_train.drop(columns=['최대구매액'])
x_test = x_test.drop(columns=['최대구매액'])

# 학습용/검증용 데이터로 분리하기
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size=0.2, random_state=10)

# 모델 학습 및 평가하기
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth=10, criterion='entropy', random_state=10)
model.fit(X_TRAIN, Y_TRAIN)
y_test_proba = model.predict_proba(x_test)

## roc_auc_score 확인하기
from sklearn.metrics import roc_auc_score
y_test_predicted = model.predict(X_TEST)
print(roc_auc_score(Y_TEST, Y_TEST_PREDICTED))

# 결과 제출하기
result = pd.DataFrame(y_test_proba)[1]
final = pd.concat([x_test_cust_id, result], axis=1).rename(columns={1:'gender'})
print(final)
final.to_csv('12345.csv', index=False)

0.5771332492643968
      cust_id    gender
0        3500  0.000000
1        3501  0.194215
2        3502  0.000000
3        3503  0.267857
4        3504  1.000000
...       ...       ...
2477     5977  1.000000
2478     5978  1.000000
2479     5979  0.000000
2480     5980  0.285714
2481     5981  0.000000

[2482 rows x 2 columns]